{% extends "base_menu.html" %}
{% load humanize %} <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/humanize -->
{% load crispy_forms_tags %}
{% block content %}
{% block head %}
<style>
    .overlay{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      display: none;
      background-color: rgba(0,0,0,0.5); /*dim the background*/
    }
</style>
{% endblock head %}
{% if ad.content_type %}

<div id="overlay" class="overlay" style="text-align: center;"
   onclick="document.getElementById('overlay').style.display = 'none';" >
<img style="width:90%;margin-top: 50px; border:3px solid black;" src="{% url 'ads:ads_file' ad.id %}" alt="ads picture">
</div>
{% endif %}
<span style="float: right;">
({{ ad.updated_at|naturaltime }})
{% if ad.owner == user %}
<a href="{% url 'ads:ads_update' ad.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'ads:ads_delete' ad.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ ad.title }}</h1>
{% if ad.content_type %}
<img style="float:right; max-width:50%;" src="{% url 'ads:ads_file' ad.id %}"
    onclick="document.getElementById('overlay').style.display = 'block';">
{% endif %}
<p>
{{ ad.text }}
</p>
<p>
Price: {{ad.price}}
</p>
<p>
{% if ad.tags.all %}
<div id = "Tag-block">
    <p> Tags:
    {% for t in ad.tags.all  %}
        <span style="border:1px grey solid; background-color: LightGreen;">{{ t }}</span>
    {% endfor %}
    </p>
</div>
{% endif %}
{% if user.is_authenticated %}
<div>
    <br>
    <p>Comment Section</p>
    <form action="{% url 'ads:ads_comments_create' 13 %}" method="post">
        {% csrf_token %}
        {{cform|crispy}}
        <input type="submit" value="Submit">
        <input type="submit" value="Cancel", onclick="window.location.href='{% url 'ads:all' %}'; return false;">

    </form>
</div>
{% endif %}

<div>
{% for comment in comments %}
<p> {{ comment.text }} </p>
({{ comment.updated_at|naturaltime }})
{% if user == comment.owner %}
<a href="{% url 'ads:ads_comment_delete' comment.id %}"><i class="fa fa-trash"></i></a>

{% endif %}
{% endfor %}
</div>

<a href="{% url 'ads:all' %}">All ads</a>

{% endblock %}
