{% extends "base_menu.html" %}
{% block content %}
<h1>ads</h1>
<div style="float: right">
<form action="#">
  <input type="text" name="search" placeholder="Search tags" 
  {% if search %} value="{{ search }}" {% endif %}>

  <button type="submit"><i class="fa fa-search"></i></button>
  <a href="{% url 'ads:all' %}"><i class="fa fa-undo"></i></a>
</form>
</div>
<p>
{% if ads_list %}
<ul>
  {% for ad in ads_list %}
    <li>
        <a href="{% url 'ads:ads_detail'  ad.id %}">{{ ad.title }} </a> <span> - {{ad.updated_at|timesince}} ago </span>
        {% if ad.owner == user %}
        (<a href="{% url 'ads:ads_update' ad.id %}">Edit</a> |
        <a href="{% url 'ads:ads_delete' ad.id %}">Delete</a>)
        {% endif %}
        {% if user.is_authenticated %}
        <!-- Two hrefs with two stacked icons each - one showing and one hidden -->
        <a href="#" onclick=
            "favPost('{% url 'ads:fav_unfavorite' ad.id %}', {{ ad.id }} );return false;"
            {% if ad.id not in favorites %} 
            style="display: none;" 
            {% endif %}
            id="favorite_star_{{ad.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
        <!-- the second href -->
        <a href="#" onclick=
             "favPost('{% url 'ads:fav_favorite' ad.id %}', {{ ad.id }} );return false;"
            {% if ad.id in favorites %} 
            style="display: none;" 
            {% endif %}
            id="unfavorite_star_{{ad.id}}">
        <span class="fa-stack" style="vertical-align: middle;">
        <i class="fa fa-star fa-stack-1x" style="display: none; color: orange;"></i>
        <i class="fa fa-star-o fa-stack-1x"></i>
        </span>
        </a>
        {% endif %}
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no ads in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'ads:ads_create' %}">Add an ad</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'ads:all' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'ads:all' %}">Login</a>
{% endif %}
</p>
<script>
  function favPost(url, thing_id) {
      console.log('Requesting JSON');
      $.post(url, {},  function(rowz){
          console.log(url, 'finished');
          $("#unfavorite_star_"+thing_id).toggle();
          $("#favorite_star_"+thing_id).toggle();
      }).fail(function(xhr) {
          alert('Url failed with '+xhr.status+' '+url);
      });
  }
  </script>
{% endblock %}
